* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome-container {
  color: #333;
  background: #f9f9f9
    url("https://t4.ftcdn.net/jpg/02/52/46/25/360_F_252462576_koy7njo9iYx6gUcM26IZcDUs9fMKIKJs.jpg")
    repeat;
  height: 100vh;
  text-align: center;
  padding: 200px;
}
.welcome-container h1 {
  font-size: 3rem;
}
.welcome-container h3 {
  margin: 30px auto;
  max-width: 620px;
  font-weight: 500;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button-primary {
  background-color: #3498db;
}
.button-primary:hover {
  background-color: #1e98ea;
}

.button-secondary {
  background-color: #19ac59;
}
.button-secondary:hover {
  background-color: #24bc66;
}

.bg-image {
  margin-left: 200px;
}
.bg-image img {
  height: 500px;
  z-index: -10;
  object-fit: contain;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: -1;
}
.container-heading {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.container h1 {
  width: 350px;
  margin: auto;
  font-size: 44px;
  color: black;
}
.container h3 {
  width: 350px;
  font-weight: 400;
  font-size: 18px;
  margin: 20px auto;
  color: black;
}
.container button {
  background-color: rgb(207, 226, 215);
  height: 50px;
  width: 280px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
}
.form-container {
  margin: 10px;
}
.trip-form {
  color: white;
  border-radius: 10px;
  padding-left: 10px;
  width: fit-content;
  margin: 10px auto;
}
.trip-form form {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 10px;
}
.trip-form form span {
  margin-top: 15px;
  font-size: 30px;
  color: rgb(96, 92, 92);
}
.trip-form input {
  height: 30px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: black;
}

.trip-form h5 {
  color: black;
  font-weight: 500;
}
.trip-form form div {
  margin: 5px 10px;
  border-right: 1px solid silver;
  padding-right: 10px;
}
.trip-form .return-date {
  border: none;
}
.pickup-date input,
.return-date input {
  width: 150px;
}
.rent-btn {
  background-color: rgb(41, 227, 122);
  height: 45px;
  width: 180px;
  margin: 7px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

input::placeholder {
  color: rgb(154, 147, 147);
}
.black {
  color: black;
}

@media (max-width: 768px) {
  .welcome-container {
    color: #333;
    margin: auto;
    background: #f9f9f9
      url("https://t4.ftcdn.net/jpg/02/52/46/25/360_F_252462576_koy7njo9iYx6gUcM26IZcDUs9fMKIKJs.jpg")
      none;
    background-size: 100%;
    text-align: center;
    height: 600px;
    padding: 140px 0;
  }
  .welcome-container h1 {
    font-size: 2rem;
    margin: auto;
    max-width: 250px;
  }
  .welcome-container h3 {
    font-size: 1.2rem;
    padding: 0 10px;
  }
  .welcome-container a{
    display: inline-block;
    width: fit-content;
  }
  .button {
    padding: 15px;
  }
  .form-container {
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: -1;
  }
  .container-heading {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 0;
  }
  .container h1 {
    width: 280px;
    text-align: center;
    margin: auto;
    font-size: 28px;
    color: black;
  }
  .container h3 {
    width: 350px;
    font-weight: 400;
    font-size: 18px;
    margin: 20px auto;
    color: black;
  }
  .bg-image {
    margin-left: 20px;
  }
  .bg-image img {
    height: 150px;
    z-index: -10;
    object-fit: contain;
    width: 100%;
  }
  .trip-form {
    width: 90%;
    height: auto;
  }
  .trip-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px 0;
  }
  .trip-form h5 {
    margin: 3px 0;
  }
  .trip-form input {
    height: 50px;
    width: 250px;
    border: 1px solid rgb(161, 159, 159);
    outline: none;
    padding-left: 10px;
    border-radius: 4px;
    color: black;
  }
  .trip-form form div {
    margin: 5px 10px;
    border-right: none;
    padding-right: 0;
  }
}
